@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/roboto-300.woff2') format('woff2');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/roboto-500.woff2') format('woff2');
}
