---
import Link from '../components/Link.astro'
import Section from '../components/Section.astro'
import { Picture } from '@astrojs/image/components'
import Main from '../layouts/Main.astro'
import Header from '../components/Header.astro'
---

<Main>
	<Header />
	<main class='max-w-screen-2xl'>
		<section class='space-y-2 px-8 md:flex md:justify-center md:px-20 md:pt-16'>
			<div class='flex-shrink-0 md:h-[640px]'>
				<Picture
					widths={[315, 525]}
					sizes='(max-width: 400px) 315px, 525px'
					aspectRatio={525 / 555}
					src='/images/me.webp'
					class='w-full'
					loading='eager'
					decoding='sync'
					alt='Bruna Perek'
				/>
			</div>
			<div class='md:ml-8 md:space-y-4 md:pt-8'>
				<h1 class='text-3xl font-medium md:text-4xl'>Olá, eu sou a Bruna</h1>
				<h2
					class='text-lg font-medium tracking-widesest text-tertiary md:text-2xl'
				>
					DESIGNER GRÁFICO &<br />EDITORA AUDIOVISUAL
				</h2>
				<Link
					label='e-mail'
					title='brperek@gmail.com'
					url='mailto:brperek@gmail.com'
					class='text-lg'
				/>
				<p class='max-w-md text-justify indent-12 text-secondary md:text-2xl'>
					Formada em Técnico de Informática pelo Instituto Federal do Paraná,
					produzo artes visuais, webdesigner, designer gráfico e edição
					audiovisual como curtas, trailers, reels e vlogs.
				</p>
				<div
					class='!mt-6 hidden flex-col items-start space-y-4 text-2xl md:flex'
				>
					<a href='/resume.pdf' download='cv.pdf' class='bg-secondary px-8 py-4'
						>Download CV</a
					>
					<a
						href='https://www.behance.net/brperek/'
						target='_blank'
						class='bg-secondary px-8 py-4'>Ir para Behance</a
					>
				</div>
			</div>
		</section>
		<Section title='TRABALHOS' anchor='work'>
			<div class='mt-3 grid grid-cols-2 px-4 md:mt-8 md:grid-cols-4'>
				{
					Array.from({ length: 13 }).map((_, index) => (
						<a href={`/images/gallery/${index}.webp`} target='_blank'>
							<Picture
								widths={[125, 800]}
								sizes='(max-width: 400px) 125px, 800px'
								aspectRatio={834 / 791}
								src={`/images/gallery/${index}.webp`}
								alt={`Trabalho ${index}`}
								class='w-full'
							/>
						</a>
					))
				}
			</div>
		</Section>
		<Section title='SOCIAIS' anchor='socials' class='mb-8 md:mb-16'>
			<div class='mt-8 flex items-center justify-center pr-4'>
				<div class='w-5/12'>
					<Picture
						widths={[150, 715]}
						sizes='(max-width: 400px) 150px, 715px'
						aspectRatio={719 / 650}
						src='/images/logo.webp'
						alt='Logo'
					/>
				</div>
				<div class='ml-2 md:space-y-4 md:text-3xl'>
					<Link
						label='INSTRAGRAM'
						title='@brperek'
						url='https://www.instagram.com/brperek/'
					/>
					<Link
						label='TWITTER'
						title='@brperek'
						url='https://twitter.com/brperek'
					/>
					<Link
						label='BEHANCE'
						title='@brperek'
						url='https://www.behance.net/brperek/'
					/>
					<Link
						label='LINKEDIN'
						title='Bruna Perek'
						url='https://www.linkedin.com/in/bruna-perek-4965b7163/'
					/>
				</div>
			</div>
		</Section>
	</main>
</Main>
