<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Astro + TailwindCSS</title>
		<link rel="stylesheet" type="text/css" href="/src/styles/global.css" />
	</head>

	<body>
		<h1 class="text-red-500">BRPEREK</h1>
	</body>
</html>
