---
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
---

<html lang='pt-BR'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<title>Bruna Perek</title>
		<meta name='description' content='DESIGNER GRÁFICO & EDITORA AUDIOVISUAL' />

		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<link rel='stylesheet' href='/fonts/index.css' />
	</head>

	<body
		class='antialiased font-light bg-cover text-primary bg-background bg-body'
	>
		<header class='flex justify-end shadow bg-background'>
			<img src='/icon.webp' height='52' width='63.11' alt='Ícone' />
		</header>
		<main class='flex flex-col items-center'>
			<img src='/me.webp' height='320' width='302.15' alt='Bruna Perek' />

			<div class='px-8'>
				<h1 class='text-2xl'>Olá, eu sou a Bruna</h1>
				<h2 class='mt-2 text-lg tracking-full text-secondary'>
					DESIGNER GRÁFICO & EDITORA AUDIOVISUAL
				</h2>
				<div class='mt-2'>
					<span class='text-tertiary'>e-mail:</span>
					<span>brperek@gmail.com</span>
				</div>
				<div class='mt-6 text-lg indent-10 text-tertiary'>
					Formada em Técnico de Informática pelo Instituto Federal do Paraná,
					produzo artes visuais, webdesigner, designer gráfico e edição
					audiovisual como curtas, trailers, reels e vlogs.
				</div>
			</div>

			<Section title='TRABALHOS' className='pl-4 space-x-5 overflow-hidden'>
				{Array.from({ length: 2 }).map((_, index) => (
					<img
						src={`/gallery/${index}.webp`}
						height='206'
						width='219.3'
						alt={`Trabalho ${index + 1}`}
					/>
				))}
			</Section>

			<Section title='SERVIÇOS' className='flex-col w-full px-6 space-y-5'>
				<Card title='Edição de Vídeos' subtitle='Sony Vegas/Premiere/CapCut' />
				<Card title='WebDesigner' subtitle='Photoshop/Illustrador/Canva/Figma'
				/>
				<Card title='Edição de Fotos' subtitle='Lightroom/VSCO' />
			</Section>

			<Section title='SOCIAIS' className='pb-8'>
				<img src='./large-icon.webp' height='120' width='125' alt='Ícone' />
				<div class='ml-2 space-y-2'>
					<p>
						<span class='text-tertiary'>INSTAGRAM:</span>
						<span>@bruna.perek</span>
					</p>
					<p>
						<span class='text-tertiary'>TWITTER:</span>
						<span>@brperek</span>
					</p>
					<p>
						<span class='text-tertiary'>LINKEDIN:</span>
						<span>Bruna Perek</span>
					</p>
					<p>
						<span class='text-tertiary'>BEHANCE:</span>
						<span>Bruna Perek</span>
					</p>
				</div>
			</Section>
		</main>
	</body>
</html>
