<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Bruna Perek</title>
		<meta
			name="description"
			content="DESIGNER GRÁFICO &amp; EDITORA AUDIOVISUAL"
		/>
		<style global>
			@import '../styles/global.css';
		</style>
	</head>

	<body>
		<h1 class="text-red-500">BRPEREK</h1>
	</body>
</html>
