---
interface Props {
	label: string
	title: string
	url: string
	class?: string
}
const { label, title, url } = Astro.props
---

<p class:list={['text-secondary', Astro.props.class]}>
	{label}: <a class='text-primary' href={url} target='_blank'>{title}</a>
</p>
