---
interface Props {
	label: string
	title: string
	url: string
}
const { label, title, url } = Astro.props
---

<p class='text-secondary'>
	{label}: <a class='text-primary' href={url} target='_blank'>{title}</a>
</p>
