---
interface Props extends astroHTML.JSX.HTMLAttributes {
	title: string
	anchor: string
}
const { title, anchor } = Astro.props
---

<section
	id={anchor}
	class:list={['mt-10 scroll-mt-16 md:scroll-mt-36', Astro.props.class]}
>
	<h2 class='px-8 text-right text-2xl md:px-12 md:text-4xl'>{title}</h2>
	<slot />
</section>
