---
import '../global.css'
---

<!doctype html>
<html lang='pt-BR' class='scroll-smooth'>
	<head>
		<link
			rel='preload'
			href='/Roboto.woff2'
			as='font'
			type='font/woff2'
			crossorigin
		/>

		<meta charset='UTF-8' />
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
		<link rel='manifest' href='/site.webmanifest' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='generator' content={Astro.generator} />
		<meta name='theme-color' content='#171717' />
		<meta name='description' content='DESIGNER GRÃFICO & EDITORA AUDIOVISUAL' />
		<title>BRPEREK</title>
		<style is:inline>
			@font-face {
				font-family: Roboto;
				font-style: normal;
				font-weight: 100 900;
				font-stretch: 100%;
				font-display: swap;
				src: url('/Roboto.woff2') format('woff2');
			}
		</style>
	</head>
	<body
		class='flex flex-col items-center bg-black bg-[url(/images/background.webp)] bg-cover font-light text-white antialiased'
	>
		<slot />
	</body>
</html>
